extends ./head.jade
append stylesheets
  link(rel='stylesheet', href='/stylesheets/home/output.css')

append content

  #signup
    h1 signup
    
    .dev
      input(placeholder='email').email
      input(placeholder='firstName').firstName
      input(placeholder='lastName').lastName
      input(placeholder='password').password
      button go
    
  #signin
    h1 signin
    input(placeholder='username').email
    input(placeholder='password').password
    button go

//input(type='text', placeholder=' Search The Met community!')
