extends ./head.jade
append stylesheets
  link(rel='stylesheet', href='/stylesheets/home/output.css')

append content
  #signin
    h1 createJam
    input(placeholder='').
    input(placeholder='').
    button go
  #newCommission
    h1 newCommission
    input(placeholder='').client
    input(placeholder='').title
    button go


//input(type='text', placeholder=' Search The Met community!')
