extends ./head.jade
append stylesheets
  link(rel='stylesheet', href='/stylesheets/home/output.css')

append content
  #newCommission
    h1 newCommission
    input(placeholder='clients').clients
    input(placeholder='title').title
    input(placeholder='payment').payment
    input(placeholder='desc').desc
    button go


//input(type='text', placeholder=' Search The Met community!')
 