extends ./head.jade
append stylesheets
  link(rel='stylesheet', href='/stylesheets/home/output.css')

append content
  #newCommission
    h1 newCommission
    input(placeholder='client').client
    input(placeholder='title').title
    button go


//input(type='text', placeholder=' Search The Met community!')
 