doctype html
html
  head
  
    block stylesheets
      title= title
    
    block scripts
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js')
      script(src="https://cdn.socket.io/socket.io-1.4.5.js")
      script(src='/javascripts/assign.js')
      script(src='/javascripts/temp.js')


  block content