doctype html
html
  head
  
    block stylesheets
      title= title
    
    block scripts
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js')
      script(src='/javascripts/temp.js')

  block content